@import url("https://fonts.googleapis.com/css2?family=Jersey+10+Charted&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap");

/* base styles */

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: Raleway, sans-serif;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background: #1b1523;
  color: #fff;
  height: 100vh;
}
h1 {
  font-family: "Jersey 10 Charted", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
}
